<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/font.css">
    <!-- <title>Document</title> -->
</head>
<body class="fontbody">
    <main class="fontmain">

        <div class="neue">
            <h1>Neue</h1>
            <h1 style="font-weight: 200;">Welcome to Splitter - 200</h1>
            <h1 style="font-weight: 400;">Welcome to Splitter - 400</h1>
            <h1 style="font-weight: 500;">Welcome to Splitter - 500</h1>
            <h1 style="font-weight: 800;">Welcome to Splitter - 800</h1>
            <h1 style="font-style: italic;">Welcome to Splitter.</h1>
            <h1 style="font-style: italic; font-weight: 600;">Welcome to Splitter.</h1>
        </div>
        <div class="Inter">
            <h1>Inter</h1>
            <h1 style="font-weight: 200;">Welcome to Splitter.</h1>
            <h1 style="font-weight: 400;">Welcome to Splitter.</h1>
            <h1 style="font-weight: 500;">Welcome to Splitter.</h1>
            <h1 style="font-weight: 600;">Welcome to Splitter.</h1>
            <h1 style="font-weight: 700;">Welcome to Splitter.</h1>
            <h1 style="font-weight: 800;">Welcome to Splitter.</h1>
        </div>
        <div class="Cab">
            <h1>Cabinet</h1>
            <h1 style="font-weight: 200;">Welcome to Splitter.</h1>
            <h1 style="font-weight: 400;">Welcome to Splitter.</h1>
            <h1 style="font-weight: 500;">Welcome to Splitter.</h1>
            <h1 style="font-weight: 600;">Welcome to Splitter.</h1>
            <h1 style="font-weight: 700;">Welcome to Splitter.</h1>
            <h1 style="font-weight: 800;">Welcome to Splitter.</h1>

        </div>
        
    </main>
        <div class="fontmain2">
            <div class="viet">
                <p>vietnam pro</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis reprehenderit in voluptate velit nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore laboris nisi ut aliquip eu fugiat nulla pariatur. Excepteur duis aute irure dolor in reprehenderit sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="Inter">
                <p>Inter</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis reprehenderit in voluptate velit nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore laboris nisi ut aliquip eu fugiat nulla pariatur. Excepteur duis aute irure dolor in reprehenderit sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="neue">
                <p>neue</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis reprehenderit in voluptate velit nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore laboris nisi ut aliquip eu fugiat nulla pariatur. Excepteur duis aute irure dolor in reprehenderit sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </body>
</html>