<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="/css/home.css"> -->
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="navi">
            <a href="#" class="logo">Logo</a>
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="/home">Home2</a>
                <a href="/instruction">Instruction</a>
                <a href="/send">Send</a>
                <a href="/receive">Receive</a>
            </nav>
            <div class="profile"></div>
        </div>
    </header>
    <div class="mainContainer">
        <div class="button-container">
            <button class="inline-img">
                Send Files
                <span class="material-icons iconss ">
                    file_upload
                </span>
            </button>

        </div>
        <div class="separator"></div>
        <div class="button-container">
            <button class="inline-img">
                Receive Files
                <span class="material-icons iconss">
                    file_download
                </span>
            </button>
        </div>
    </div>
    <footer class="center">
        footer
    </footer>
</body>

</html>