<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/receive.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="navi">
            <a href="#" class="logo">Logo</a>
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="/home">Home2</a>
                <a href="/instruction">Instruction</a>
                <a href="/send">Send</a>
                <a href="/receive">Receive</a>
            </nav>
            <div class="profile"></div>
        </div>
    </header>
    <main style="height: 100vh;display: flex;align-items: center;justify-content: center;flex-direction: column;">
        <h1>Receive Files</h1><br>
        ...
    </main>
    <footer class="center">
        footer
    </footer>
</body>
</html>